$breakpoint-mobile: 768px;
@mixin mobile {
    @media (max-width: $breakpoint-mobile) {
      @content;
    }
  }
.dashboard-card{
  @media (max-width: 500px) {
    text-align: center;
    gap: 0 !important;
  }
.title{
  padding: 15px;
  width: 35%;
  @media (max-width: 500px) {
    width: unset;
    padding: 4px;
  }
}
.data-angka{
  @media (max-width: 500px) {
    font-size: 30px;
  }
  font-size: 45px;
  padding-right: 15px;
}
}

.chart-line-dashboard{
    width: 100%; 
    height: 500px;

    @include mobile{
        width: 100%; 
    height: 500px;
    }
}

.no-divider th,
.no-divider td {
  border-bottom: none !important; /* Menghilangkan garis bawah */

}

.no-divider thead tr,
.no-divider tbody tr {
  border-bottom: none !important; /* Menghilangkan garis pemisah */

}