
.form-login{
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    @media screen and (max-width:600px) {
    width: 300px;
    }
    .logo-login{
        width: auto;
        height: 60px;
        margin-bottom: 20px;
        margin-right: 20px;
    }
    .form{
        .label-form{
        font-weight: bold;
        }
    }
    .button-login{
        text-transform: none; /* Menonaktifkan auto capitalization */
        font-size: 17.5px;
        height: 50px !important;
        background-color: #BF3232 !important;
    }
    .v-field__prepend-inner > .v-icon, .v-field__append-inner > .v-icon, .v-field__clearable > .v-icon {
        opacity: var(--v-medium-emphasis-opacity);
        margin-right: 8px;
    }
}