$breakpoint-mobile: 768px;
@mixin mobile {
    @media (max-width: $breakpoint-mobile) {
      @content;
    }
  }
.custom-drawer {
    background-color: #BF3232 !important; /* Warna latar belakang drawer */
    color: white !important; /* Warna teks */


    .v-list-group__items .v-list-item {
      padding-inline-start: 18px !important;
  }
    .v-list-item {
        margin: 8px 18px 0px 18px;
      &:hover {
        background-color: rgba(255, 255, 255, 0.422); /* Warna saat di-hover */
        color: white;
        border-radius: 10px !important;
      }
      .v-list-item-title {
        font-weight: bold;
        font-size: 16px;
        margin-left: 10px;
        white-space: normal;
        word-wrap: break-word;
        overflow: hidden;
      }
      
    }
    .v-list-item__prepend {
      align-items: center;
      align-self: center;
      display: unset;
      grid-area: prepend;
  }
    .active-item {
        background-color: white; /* Warna saat item dipilih */
        color: #BF3232;
        border-radius: 10px !important;
    
        .v-list-item-title {
          font-weight: bold;
        }
      }
  }

  .logo-wrap{
    margin: 24px 0px 0px 24px !important;
      
    .sidebar-logo{
        max-width: 190px;
      }
  }


