.custom-drawer {
    background-color: #6200ea; /* Warna latar belakang drawer */
    color: white; /* Warna teks */
  
    .v-list-item {
        margin: 12px;
      &:hover {
        background-color: #B1B1B1; /* Warna saat di-hover */
        color: white;
        border-radius: 10px !important;
      }
      .v-list-item-title {
        font-weight: bold;
      }
      
    }
    .active-item {
        background-color: #B1B1B1; /* Warna saat item dipilih */
        color: white;
        border-radius: 10px !important;
    
        .v-list-item-title {
          font-weight: bold;
        }
      }
  }

  .logo-wrap{
    margin: 24px 0px 0px 24px !important;
      
    .sidebar-logo{
        max-width: 190px;
      }
  }
