.custom-drawer {
    background-color: #6200ea; /* Warna latar belakang drawer */
    color: white; /* Warna teks */
  
    .v-list-item {
        margin: 8px 18px 0px 18px;
      &:hover {
        background-color: #ffacac; /* Warna saat di-hover */
        color: white;
        border-radius: 10px !important;
      }
      .v-list-item-title {
        font-weight: bold;
        font-size: 16px;
        white-space: normal;
        word-wrap: break-word;
        overflow: hidden;
      }
      
    }
    .v-list-item__prepend {
      align-items: center;
      align-self: center;
      display: unset;
      grid-area: prepend;
  }
    .active-item {
        background-color: #FF3636; /* Warna saat item dipilih */
        color: white;
        border-radius: 10px !important;
    
        .v-list-item-title {
          font-weight: bold;
        }
      }
  }

  .logo-wrap{
    margin: 24px 0px 0px 24px !important;
      
    .sidebar-logo{
        max-width: 190px;
      }
  }
