
    .v-pagination .v-btn {
        border-radius: 4px;
        border-color: #BF3232 !important;
        height: 40px !important;
        width: 40px !important;
    }

    .custom-outline .v-input__control .v-input__outline {
        border-color: #4CAF50 !important; /* Ganti dengan warna yang kamu inginkan */
      }

