@import 'login';
@import 'navbar';
@import 'dashboard';
@import 'pagination';
@import 'form';

// Definisikan breakpoint
 // Umumnya digunakan untuk tablet dan perangkat mobile

// Mixin untuk penggunaan mudah


.v-main{

}

.background-blue{
    background-color: #4BB0EB !important;
}
.background-red{
    background-color: #FF4242 !important;
}   
.background-green{
    background-color: #4A975B !important;
}
.background-yellow{
    background-color: #FFE642 !important;
}


.v-locale--is-ltr{
    padding: 0px !important;
}