@import 'login';
@import 'navbar';
@import 'dashboard';
@import 'pagination';
@import 'form';

// Definisikan breakpoint
 // Umumnya digunakan untuk tablet dan perangkat mobile

// Mixin untuk penggunaan mudah


$breakpoint-mobile: 768px;
@mixin mobile {
    @media (max-width: $breakpoint-mobile) {
      @content;
    }
  }

.background-blue{
    background-color: #4BB0EB !important;
}
.background-red{
    background-color: #FF4242 !important;
}   
.background-green{
    background-color: #4A975B !important;
}
.background-yellow{
    background-color: #FFE642 !important;
}


.v-container{
    padding: 0px !important;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:hover{
    color: #292929;
}

.container-home{
  padding-right: 100px; padding-left: 100px;
  @include mobile{
    padding-right: 20px; padding-left: 20px
  }
}